@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
/* 공통 */
body { font-family: "Pretendard", "Nanum Gothic", "arial", "맑은 고딕", sans-serif; font-weight: 300; }

.mobileShow, .displaynone { display: none !important; }

.material-icons { display: block; padding: 5px; }

.imgWrap img { width: 100%; }

/* flex 관련 */
.displayFlex { display: flex; }

.displayFlex.flexWrap { flex-wrap: wrap; -webkit-box-lines: multiple; -ms-flex-wrap: wrap; }

.displayFlex.contentCenter { justify-content: center; -webkit-box-pack: center; -ms-flex-pack: center; }

.displayFlex.contentEnd { justify-content: flex-end; -webkit-box-pack: end; -ms-flex-pack: end; }

.displayFlex.contentBetween { justify-content: space-between; -webkit-box-pack: justify; -ms-flex-pack: justify; }

.displayFlex.contentAround { justify-content: space-around; }

.displayFlex.contentEvenly { justify-content: space-evenly; }

.displayFlex.alignCenter { align-items: center; -webkit-box-align: center; -ms-flex-align: center; }

.displayFlex.alignEnd { align-items: end; -webkit-box-align: end; -ms-flex-align: end; }

.displayFlex.alignStretch { align-items: stretch; -webkit-box-align: stretch; -ms-flex-align: stretch; }

/* 헤더 */
#header { width: 100%; padding: 0 10px; border-bottom: 1px solid #ebebeb; box-sizing: border-box; position: fixed; top: 0; left: 0; background-color: #fff; z-index: 1; }

#header .headerWrap { width: 100%; height: 76px; max-width: 1200px; margin: 0 auto; box-sizing: border-box; }

#header .headerWrap .leftWrap .logoWrap { width: 130px; margin-right: 50px; }

#header .headerWrap .leftWrap .logoWrap span { display: block; width: 0; height: 0; opacity: 0; overflow: hidden; }

#header .headerWrap .leftWrap #gnb .depth01 > li { position: relative; top: 0; left: 0; }

#header .headerWrap .leftWrap #gnb .depth01 > li:hover .depth02, #header .headerWrap .leftWrap #gnb .depth01 > li:focus-within .depth02 { display: block; box-shadow: 0 10px 15px #00000050; -webkit-box-shadow: 0 10px 15px #00000050; }

#header .headerWrap .leftWrap #gnb .depth01 > li::after { content: "|"; color: #ebebeb; }

#header .headerWrap .leftWrap #gnb .depth01 > li:last-child::after { content: none; }

#header .headerWrap .leftWrap #gnb .depth01 > li > strong { display: inline-block; padding: 30px 10px; cursor: pointer; }

#header .headerWrap .leftWrap #gnb .depth01 > li .depth02 { display: none; width: max-content; min-width: 100%; border: 1px solid #ebebeb; box-sizing: border-box; position: absolute; top: 76px; left: 50%; transform: translateX(-50%); background-color: #fff; }

#header .headerWrap .leftWrap #gnb .depth01 > li .depth02 a { display: inline-block; width: 100%; padding: 15px; box-sizing: border-box; }

#header .headerWrap .leftWrap #gnb .depth01 > li .depth02 a:hover { background-color: #f1f1f1; }

#header .headerWrap .rightWrap .searchWrap .grayWrap { width: 0; padding: 10px 0; box-sizing: border-box; overflow: hidden; background-color: #ebebeb; transition: 0.5s; }

#header .headerWrap .rightWrap .searchWrap .grayWrap .searchBar { width: 100%; padding: 5px; border-bottom: 1px solid; box-sizing: border-box; }

#header.searchOn .headerWrap .rightWrap .searchWrap .grayWrap { width: 180px; padding: 10px 20px; }

/* 풋터 */
#footer { padding: 0 10px; border-bottom: 1px solid #ebebeb; overflow: hidden; background-color: #000; color: #fff; }

#footer .footerWrap { width: 100%; max-width: 1200px; margin: 50px auto; box-sizing: border-box; }

#footer .footerWrap .logoWrap { width: 130px; }

#footer .footerWrap .logoWrap span { display: block; width: 0; height: 0; opacity: 0; overflow: hidden; }

#footer .footerWrap .footerGnbWrap { margin: 20px 0; }

#footer .footerWrap .footerGnbWrap .depth01 > li { position: relative; top: 0; left: 0; }

#footer .footerWrap .footerGnbWrap .depth01 > li::after { content: "|"; margin: 0 10px; color: #ebebeb; }

#footer .footerWrap .footerGnbWrap .depth01 > li:last-child::after { content: none; }

#footer .footerWrap .footerGnbWrap .depth01 > li > a { display: inline-block; }

#footer .footerWrap .footerGnbWrap .depth01 > li .depth02 { display: none; }

#footer .footerWrap .csCenter ul li { display: inline; }

#footer .footerWrap .csCenter ul li::after { content: "|"; margin: 0 10px; }

#footer .footerWrap .csCenter ul li.company { display: block; margin: 10px 0; }

#footer .footerWrap .csCenter ul li.company::after, #footer .footerWrap .csCenter ul li:last-child::after { content: none; }

#footer .footerWrap .csCenter .copyright { margin: 20px 0; }

/* main */
#container { margin-top: 77px; }

/* 배너 */
.slideBanner { width: 100%; overflow: hidden; }

.slideBanner ul { display: flex; }

.slideBanner ul li a, .slideBanner ul li img { display: block; width: 100%; }

/* 탭 */
@media (max-width: 1024px) and (min-width: 768px) { html { background-color: chartreuse; }
  #header.searchOn .headerWrap .leftWrap #gnb { display: none; }
  #header.searchOn .headerWrap .rightWrap .searchWrap .grayWrap { width: calc(100vw - 350px); } }

/* 모바일 */
@media (max-width: 768px) { html { min-width: 360px; background-color: chocolate; }
  .mobileShow { display: block !important; }
  #header .headerWrap .leftWrap .logoWrap { margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
  #header .headerWrap .leftWrap #gnb { position: absolute; top: 0; left: -100%; transition: 0.5s; z-index: 1; }
  #header .headerWrap .leftWrap #gnb.showGnb { left: 0; }
  #header .headerWrap .leftWrap #gnb.showGnb .blackBlock { display: block; width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; background-color: #00000080; z-index: -1; }
  #header .headerWrap .leftWrap #gnb.showGnb .blackBlock .close { position: absolute; bottom: 0; right: 0; color: #fff; }
  #header .headerWrap .leftWrap #gnb .depth01 { flex-direction: column; width: 70vw; height: 100vh; background-color: #fff; }
  #header .headerWrap .leftWrap #gnb .depth01 > li:hover .depth02 { display: none; box-shadow: none; -webkit-box-shadow: none; }
  #header .headerWrap .leftWrap #gnb .depth01 > li:last-child::after, #header .headerWrap .leftWrap #gnb .depth01 > li::after { display: block; content: ""; width: 10px; height: 10px; border: 1px solid #1a1a1a; border-top: none; border-left: none; position: absolute; top: 20px; right: 20px; transform: rotate(45deg); transition: 0.5s; }
  #header .headerWrap .leftWrap #gnb .depth01 > li strong { width: 100%; padding: 20px; border-bottom: 1px solid #ebebeb; box-sizing: border-box; }
  #header .headerWrap .leftWrap #gnb .depth01 > li .depth02 { width: 100%; border: none; position: relative; top: 0; left: 0; transform: none; background-color: #f1f1f1; }
  #header .headerWrap .leftWrap #gnb .depth01 > li.showDepth02 { border-bottom: 1px solid #ebebeb; }
  #header .headerWrap .leftWrap #gnb .depth01 > li.showDepth02::after { transform: rotate(225deg); }
  #header .headerWrap .rightWrap .searchWrap .grayWrap { width: 100%; height: 0; padding: 0; position: absolute; top: 77px; left: 0; }
  #header.searchOn .headerWrap .rightWrap .searchWrap .grayWrap { width: 100%; height: 70px; padding: 20px; } }
